@model IEnumerable<Businesses_Accounting.Models.BusinessFiscalYear>

@{
    ViewData["Title"] = "سال های مالی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="g-col-4 g-col-sm-4">
<p>
    <a asp-action="Create">سال مالی جدید</a>
</p>
@(
    Html.Kendo().Grid<Businesses_Accounting.Models.BusinessFiscalYear>()
                           .Name("grid")
                           .Columns(columns =>
                           {
                               columns.Bound(model => model.Title);
                               columns.Bound(model => model.StartDate);
                               columns.Bound(model => model.EndDate);
                               columns.Bound(model => model.Id).Filterable(false).ClientHeaderTemplate(" ")
                               .ClientTemplate(@"<a href='" + @Url.Action("Edit", "BusinessFiscalYears", new { Id = "#:data.Id#" }) + @"'>Edit</a> |  <a href='" + @Url.Action("Delete", "BusinessFiscalYears", new { Id = "#:data.Id#" }) + @"'>Delete</a>  ").Width(430);
                           })

                           .Pageable()
                           .Sortable()
                           .Scrollable()
                           //.Groupable()
                           .Filterable()
                           .HtmlAttributes(new { style = "height:550px;" })
                           .DataSource(dataSource => dataSource
                               .Ajax()
                               .PageSize(20)
                               .Read("List", "BusinessFiscalYears")
                            )
       )
</div>