@model IEnumerable<Businesses_Accounting.Models.BusinessProduct>

@{
    ViewData["Title"] = "کالا ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style=" grid-column-end: span 4; grid-row-end: span 1;">

<p>
    <a asp-action="Create">کالا جدید</a>
</p>
@(
    Html.Kendo().Grid<Businesses_Accounting.Models.ViewModels.CreatBusinessServiceViewModel>()
                           .Name("grid")
                           .Columns(columns =>
                           {
                               columns.Bound(model => model.Name);
                               columns.Bound(model => model.Note);
                              // columns.Bound(model => model.IsActive);
                               columns.Bound(model => model.Id).Filterable(false).ClientHeaderTemplate(" ")
                               .ClientTemplate(@"<a href='" + @Url.Action("Edit", "BusinessProducts", new { Id = "#:data.Id#" }) + @"'>Edit</a> |  <a href='" + @Url.Action("Delete", "BusinessProducts", new { Id = "#:data.Id#" }) + @"'>Delete</a>  ").Width(430);
                           })

                           .Pageable()
                           .Sortable()
                           .Scrollable()
                           //.Groupable()
                           .Filterable()
                           .HtmlAttributes(new { style = "height:550px;" })
                           .DataSource(dataSource => dataSource
                               .Ajax()
                               .PageSize(20)
                               .Read("List", "BusinessProducts")
                            )
       )
</div>