@model IEnumerable<Businesses_Accounting.Models.Contact>

@{
    ViewData["Title"] = "اشخاص";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style=" grid-column-end: span 4; grid-row-end: span 1;">

<p>
    <a asp-action="Create">شخص جدید</a>
</p>
@(
    Html.Kendo().Grid<Businesses_Accounting.Models.ViewModels.CreateContactViewModel>()
                           .Name("grid")
                           .Columns(columns =>
                           {
                               columns.Bound(model => model.ImageUrl).ClientHeaderTemplate(" ").Filterable(false).Sortable(false).ClientTemplate("#=getGridImageBox(data.ImageUrl)#").Width(70);
                               columns.Bound(model => model.DisplayName);
                               columns.Bound(model => model.Company);
                               columns.Bound(model => model.IsActive);
                               columns.Bound(model => model.Id).Filterable(false).ClientHeaderTemplate(" ")
                               .ClientTemplate(@"<a href='" + @Url.Action("Edit", "Contacts", new { Id = "#:data.Id#" }) + @"'>ویرایش</a> |  <a href='javascript:;' onclick='showDialogDelete(`" + @Url.Action("Delete", "Contacts", new { Id = "#:data.Id#" }) + "`,`آیا از حذف شخص #:data.DisplayName# مطمئن هستی؟`,`حذف شخص`)'>حذف</a>  ").Width(430);
                })

                           .Pageable()
                           .Sortable()
                           .Scrollable()
                           //.Groupable()
                           .Filterable()
                           .HtmlAttributes(new { style = "height:550px;" })
                           .DataSource(dataSource => dataSource
                               .Ajax()
                               .PageSize(20)
                               .Read("List", "Contacts")
                            )
       )
        </div>