@using Businesses_Accounting.Services

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var businessId = Context.ToPanelViewModel().BusinessId;
}
@if (businessId > 0)
{
    <ul>
        \
        <li data-role='drawer-item' class='k-state-selected'>
            <span class='k-icon k-i-grid'></span><span class='k-item-text' data-id='Inbox'>
                <a asp-action="Index" asp-controller="App" asp-area="">

                    داشبورد
                </a>

            </span>
        </li> \
        @* <li data-role='drawer-item'>
            <span class='k-icon k-i-notification k-i-globe'></span><span class='k-item-text' data-id='Notifications'>
                <a asp-action="Index" asp-controller="Businesses" asp-area="">کسب و کار </a>
            </span>
        </li> \ *@
        <li data-role='drawer-item'><span class='k-icon k-i-aggregate-fields'></span>
            <span class='k-item-text' data-id='Notifications'>
                <a asp-action="Index" asp-controller="Contacts" asp-area="">اشخاص </a>
            </span>
        </li> \
       
        <li data-role='drawer-item'>
            <span class='k-icon k-i-aggregate-fields'></span>
            <span class='k-item-text' data-id='Notifications'>
                <a asp-action="Index" asp-controller="BusinessProducts" asp-area="">کالا ها</a>
            </span>
        </li> \
@*         <li data-role='drawer-item'>
            <span class='k-icon k-i-aggregate-fields'></span>
            <span class='k-item-text' data-id='Notifications'>
                <a asp-action="Index" asp-controller="BusinessServices" asp-area="">خدمات</a>
            </span>
        </li> \ *@
        <li data-role='drawer-item'>
            <span class='k-icon k-i-aggregate-fields'></span>
            <span class='k-item-text' data-id='Notifications'>
                <a asp-action="Index" asp-controller="BusinessBankings" asp-area="">بانک ها</a>
            </span>
        </li> \
        <li data-role='drawer-item'>
            <span class='k-icon k-i-gear'></span>
            <span class='k-item-text' data-id='Notifications'>
                <a asp-action="Index" asp-controller="Documents" asp-area="">سندها </a>
            </span>
        </li> \

    </ul>
}
else
{
    <ul>
@*         \
        <li data-role='drawer-item' class='k-state-selected'>
            <span class='k-icon k-i-grid'></span><span class='k-item-text' data-id='Inbox'>
                داشبورد
            </span>
        </li> \ *@
        <li data-role='drawer-item'>
            <span class='k-icon k-i-notification k-i-globe'></span><span class='k-item-text' data-id='Notifications'>
                <a asp-action="Index" asp-controller="Businesses" asp-area="">کسب و کار </a>
            </span>
        </li> \
        @*   <li data-role='drawer-item'><span class='k-icon k-i-aggregate-fields'></span><span class='k-item-text' data-id='Calendar'>اشخاص</span></li> \
            <li data-role='drawer-separator'></li> \ 
        <li data-role='drawer-item'><span class='k-icon k-i-gear'></span><span class='k-item-text' data-id='Attachments'>کالا ها</span></li> \
        <li data-role='drawer-item'><span class='k-icon k-i-gear'></span><span class='k-item-text' data-id='Attachments'>خدمات</span></li> \
        <li data-role='drawer-item'><span class='k-icon k-i-gear'></span><span class='k-item-text' data-id='Attachments'>بانک ها</span></li> \
    <li data-role='drawer-item'><span class='k-icon k-i-gear'></span><span class='k-item-text' data-id='Attachments'>سندها</span></li> \*@

    </ul>
}