@model IEnumerable<Businesses_Accounting.Models.BusinessService>

@{
    ViewData["Title"] = "خدمات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

         <div style=" grid-column-end: span 4; grid-row-end: span 1;">
<p>
    <a asp-action="Create">خدمات جدید</a>
</p>
@(
    Html.Kendo().Grid<Businesses_Accounting.Models.ViewModels.CreatBusinessProductViewModel>()
                           .Name("grid")
                           .Columns(columns =>
                           {
                               columns.Bound(model => model.Name);
                               columns.Bound(model => model.Note);
                            //   columns.Bound(model => model.IsActive);
                               columns.Bound(model => model.Id).Filterable(false).ClientHeaderTemplate(" ")
                               .ClientTemplate(@"<a href='" + @Url.Action("Edit", "BusinessServices", new { Id = "#:data.Id#" }) + @"'>Edit</a> |  <a href='" + @Url.Action("Delete", "BusinessServices", new { Id = "#:data.Id#" }) + @"'>Delete</a>  ").Width(430);
                           })

                           .Pageable()
                           .Sortable()
                           .Scrollable()
                           //.Groupable()
                           .Filterable()
                           .HtmlAttributes(new { style = "height:550px;" })
                           .DataSource(dataSource => dataSource
                               .Ajax()
                               .PageSize(20)
                               .Read("List", "BusinessServices")
                            )
       )
</div>