@using Businesses_Accounting.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Businesses_AccountingUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <p>
            <a href='@Url.Action("Index", "Dashbord", new { area = "Panel" })'>
                Panel
            </a>
        </p>
    }
</div>

