.image-logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2rem;
    display: block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAB4CAMAAAAOusbgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5QTFRF////m+r/+P7/mer/ouv/oOv/8v3/+v7/l+r/qOz/W60iigAAAKVJREFUeNrs1zsOxCAMQEFjIJ/7X3hbSL2EXWncuhgligIvyji1ZYyTrS7aRoDBYDD49+E6ztXPaXn2a9E2oo3T7yPHOe6+aJuRL0nztrXH8697t/O21ge87muat6WAwWDw38Mv/qu3nU7bzuNtNxC3TDAYDFaLalEtgsFgsFpUi2oRDAaD1aJaVItgMBisFtWiWgSDwWC1qBbVIhgMBoO/An8EGACoF03lcl4LdQAAAABJRU5ErkJggg==);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    border: 3px solid #aaa;
    overflow: hidden;
}
.image-min-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAB4CAMAAAAOusbgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5QTFRF////m+r/+P7/mer/ouv/oOv/8v3/+v7/l+r/qOz/W60iigAAAKVJREFUeNrs1zsOxCAMQEFjIJ/7X3hbSL2EXWncuhgligIvyji1ZYyTrS7aRoDBYDD49+E6ztXPaXn2a9E2oo3T7yPHOe6+aJuRL0nztrXH8697t/O21ge87muat6WAwWDw38Mv/qu3nU7bzuNtNxC3TDAYDFaLalEtgsFgsFpUi2oRDAaD1aJaVItgMBisFtWiWgSDwWC1qBbVIhgMBoO/An8EGACoF03lcl4LdQAAAABJRU5ErkJggg==);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border: 3px solid #aaa;
    overflow: hidden;
}

.image-logo-img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    position: relative;
}

.business-header {
    border-right: none;
    border-left: 1px solid rgba(26,179,148,.5);
}
 .business-name {
    font-weight: 500;
    padding: 0;
    margin: 0;
}


.gw-10 {
    min-width: 10px;
    max-width: 10px;
    width: 10px;
}
.gw-15 {
    min-width: 15px;
    max-width: 15px;
    width: 15px;
}
.gw-20 {
    min-width: 20px;
    max-width: 20px;
    width: 20px;
}
.gw-25 {
    min-width: 25px;
    max-width: 25px;
    width: 25px;
}

.gw-30 {
    min-width: 30px;
    max-width: 30px;
    width: 30px;
}
.gw-35 {
    min-width: 35px;
    max-width: 35px;
    width: 35px;
}
.gw-40 {
    min-width: 40px;
    max-width: 40px;
    width: 40px;
}
.gw-45 {
    min-width: 45px;
    max-width: 45px;
    width: 45px;
}
.gw-50 {
    min-width: 50px;
    max-width: 50px;
    width: 50px;
}
.gw-55 {
    min-width: 55px;
    max-width: 55px;
    width: 55px;
}
.gw-60 {
    min-width: 60px;
    max-width: 60px;
    width: 60px;
}
.gw-65 {
    min-width: 65px;
    max-width: 65px;
    width: 65px;
}
.gw-70 {
    min-width: 70px;
    max-width: 70px;
    width: 70px;
}
.gw-75 {
    min-width: 75px;
    max-width: 75px;
    width: 75px;
}
.gw-80 {
    min-width: 80px;
    max-width: 80px;
    width: 80px;
}
.gw-85 {
    min-width: 85px;
    max-width: 85px;
    width: 85px;
}

.gw-90 {
    min-width: 90px;
    max-width: 90px;
    width: 90px;
}
.gw-95 {
    min-width: 95px;
    max-width: 95px;
    width: 95px;
}
.gw-100 {
    min-width: 100px;
    max-width: 100px;
    width: 100px;
}

.gw-105 {
    min-width: 105px;
    max-width: 105px;
    width: 105px;
}
.gw-110 {
    min-width: 110px;
    max-width: 110px;
    width: 110px;
}

.gw-115 {
    min-width: 115px;
    max-width: 115px;
    width: 115px;
}

.gw-120 {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
}

.gw-125 {
    min-width: 125px;
    max-width: 125px;
    width: 125px;
}

.gw-130 {
    min-width: 130px;
    max-width: 130px;
    width: 130px;
}

.gw-135 {
    min-width: 135px;
    max-width: 135px;
    width: 135px;
}

.gw-140 {
    min-width: 140px;
    max-width: 140px;
    width: 140px;
}

.gw-145 {
    min-width: 145px;
    max-width: 145px;
    width: 145px;
}

.gw-150 {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
}

.gw-155 {
    min-width: 155px;
    max-width: 155px;
    width: 155px;
}

.gw-160 {
    min-width: 160px;
    max-width: 160px;
    width: 160px;
}

.gw-165 {
    min-width: 165px;
    max-width: 165px;
    width: 165px;
}

.gw-170 {
    min-width: 170px;
    max-width: 170px;
    width: 170px;
}

.gw-175 {
    min-width: 175px;
    max-width: 175px;
    width: 175px;
}

.gw-180 {
    min-width: 180px;
    max-width: 180px;
    width: 180px;
}

.gw-185 {
    min-width: 185px;
    max-width: 185px;
    width: 185px;
}

.gw-190 {
    min-width: 190px;
    max-width: 190px;
    width: 190px;
}

.gw-195 {
    min-width: 195px;
    max-width: 195px;
    width: 195px;
}
.gw-200 {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
}

.gw-205 {
    min-width: 205px;
    max-width: 205px;
    width: 205px;
}
.gw-210 {
    min-width: 210px;
    max-width: 210px;
    width: 210px;
}

.gw-215 {
    min-width: 215px;
    max-width: 215px;
    width: 215px;
}

.gw-220 {
    min-width: 220px;
    max-width: 220px;
    width: 220px;
}

.gw-225 {
    min-width: 225px;
    max-width: 225px;
    width: 225px;
}

.gw-230 {
    min-width: 230px;
    max-width: 230px;
    width: 230px;
}

.gw-235 {
    min-width: 235px;
    max-width: 235px;
    width: 235px;
}

.gw-240 {
    min-width: 240px;
    max-width: 240px;
    width: 240px;
}

.gw-245 {
    min-width: 245px;
    max-width: 245px;
    width: 245px;
}

.gw-250 {
    min-width: 250px;
    max-width: 250px;
    width: 250px;
}

.gw-255 {
    min-width: 255px;
    max-width: 255px;
    width: 255px;
}

.gw-260 {
    min-width: 260px;
    max-width: 260px;
    width: 260px;
}

.gw-265 {
    min-width: 265px;
    max-width: 265px;
    width: 265px;
}

.gw-270 {
    min-width: 270px;
    max-width: 270px;
    width: 270px;
}

.gw-275 {
    min-width: 275px;
    max-width: 275px;
    width: 275px;
}

.gw-280 {
    min-width: 280px;
    max-width: 280px;
    width: 280px;
}

.gw-285 {
    min-width: 285px;
    max-width: 285px;
    width: 285px;
}

.gw-290 {
    min-width: 290px;
    max-width: 290px;
    width: 290px;
}

.gw-295 {
    min-width: 295px;
    max-width: 295px;
    width: 295px;
}
.gw-300 {
    min-width: 300px;
    max-width: 300px;
    width: 300px;
}

.gw-305 {
    min-width: 305px;
    max-width: 305px;
    width: 305px;
}
.gw-310 {
    min-width: 310px;
    max-width: 310px;
    width: 310px;
}

.gw-315 {
    min-width: 315px;
    max-width: 315px;
    width: 315px;
}

.gw-320 {
    min-width: 320px;
    max-width: 320px;
    width: 320px;
}

.gw-325 {
    min-width: 325px;
    max-width: 325px;
    width: 325px;
}

.gw-330 {
    min-width: 330px;
    max-width: 330px;
    width: 330px;
}

.gw-335 {
    min-width: 335px;
    max-width: 335px;
    width: 335px;
}

.gw-340 {
    min-width: 340px;
    max-width: 340px;
    width: 340px;
}

.gw-345 {
    min-width: 345px;
    max-width: 345px;
    width: 345px;
}

.gw-350 {
    min-width: 350px;
    max-width: 350px;
    width: 350px;
}

.gw-355 {
    min-width: 355px;
    max-width: 355px;
    width: 355px;
}

.gw-360 {
    min-width: 360px;
    max-width: 360px;
    width: 360px;
}

.gw-365 {
    min-width: 365px;
    max-width: 365px;
    width: 365px;
}

.gw-370 {
    min-width: 370px;
    max-width: 370px;
    width: 370px;
}

.gw-375 {
    min-width: 375px;
    max-width: 375px;
    width: 375px;
}

.gw-380 {
    min-width: 380px;
    max-width: 380px;
    width: 380px;
}

.gw-385 {
    min-width: 385px;
    max-width: 385px;
    width: 385px;
}

.gw-390 {
    min-width: 390px;
    max-width: 390px;
    width: 390px;
}

.gw-395 {
    min-width: 395px;
    max-width: 395px;
    width: 395px;
}